<footer class="footer">
  <nav class="list1">
    <h2>tienda</h2>
    <ul>
      <li>productos</li>
      <a href="">
        <li>cajoneras</li>
      </a>
      <a href="">
        <li>para toda la casa</li>
      </a>
      <a href="">
        <li>habitaciones</li>
      </a>
    </ul>
  </nav>
  <nav class="list2">
    <h2>nosotros</h2>
    <ul>
      <a href="">
        <li>nuestra guía</li>
      </a>
      <a href="">
        <li>nuestro diseño</li>
      </a>
      <a href="">
        <li>nuestra historia</li>
      </a>
      <a href="">
        <li>ayuda</li>
      </a>
    </ul>
  </nav>
  <nav class="list3">
    <h2>contacto</h2>
    <ul>
      <a href="">
        <li>correo</li>
      </a>
      <a href="">
        <li>socios</li>
      </a>
      <a href="">
        <li>iconos</li>
      </a>
    </ul>
  </nav>
</footer>
