<footer>
  <article>
    <ul>
      <li><h2>tienda</h2></li>
      <a href="">
        <li>productos</li>
      </a>
      <a href="">
        <li>cajoneras</li>
      </a>
      <a href="">
        <li>para toda la casa</li>
      </a>
      <a href="">
        <li>habitaciones</li>
      </a>
    </ul>
  </article>
  <article>
    <ul>
      <a href="">
        <li><h2>nosotros</h2></li>
      </a>
      <a href="">
        <li>nuestra guía</li>
      </a>
      <a href="">
        <li>nuestro diseño</li>
      </a>
      <a href="">
        <li>nuestra historia</li>
      </a>
      <a href="">
        <li>ayuda</li>
      </a>
    </ul>
  </article>
  <article>
    <ul>
      <a href=""
        ><li><h2>nosotros</h2></li></a
      >
      <a href="">
        <li>nuestra guía</li>
      </a>
      <a href="">
        <li>nuestro diseño</li>
      </a>
      <a href="">
        <li>nuestra historia</li>
      </a>
      <a href="">
        <li>ayuda</li>
      </a>
    </ul>
  </article>
</footer>
