<main class="main">


  <section class="first-section">
    <h2 class="h2-main">
      Volverse organizado se siente mejor con
      <span class="open">open spaces</span>
    </h2>
    <include
      src="./main-element.html"
      imagen="./assets/images/icon_1.png"
      title="Lo que necesitas"
      text="Una línea de productos diseñados para todos tus espacios""
    ></include>
  
  
    <include
      src="./main-element.html"
      imagen="./assets/images/icon_2.png"
      title="Materias primas sustentables"
      text="Todos los productos con materias primas sustentables"
    ></include>
    <include
      src="./main-element.html"
      imagen="./assets/images/icon_3.png"
      title="Guía"
      text="Soporte y asesoramiento para ayudarte con tu objetivo"
    ></include>

  </section>

  <section class="second-section">
    <article class="second-container">
    <img src="./assets/images/icon_4.png" alt="deliverycar" class="img-ss" />
    <h2 class="h2-ss">Envío gratis garantizado</h2>
    <p class="text-ss">Envío gratis en compras desde 100</p>
    <a href="https://adalab.es/" class="link-ss"><p class="buy-now">Comprar ahora</p> </a>
  </article>
  </section>
  <section class="third-section">
    <h2 class="h2-ts">Disfruta creando espacios</h2>
    <p class="p-ts">Una línea de productos diseñados para todos tus espacios</p>
    <button class="button-ts">comprar ahora</button>
  </section>
  <section class="fourth-section">
  </section>
</main>
