<main>
  <h2>
    Volverse organizado se siente mejor con
    <span class="open">open spaces</span>
  </h2>
  <section class="first-section">
    <article>
      <img src="" alt="" />
      <h3></h3>
      <p></p>
    </article>
  </section>
  <section class="second-section">
    <img src="" alt="" />
    <h2>Envío gratis garantizado</h2>
    <p></p>
    <a href="">Comprar ahora</a>
  </section>
  <section>
    <h2>Disfruta creando espacios</h2>
    <p>Una línea de productos diseñados para todos tus espacios</p>
    <button>comprar ahora</button>
  </section>
</main>
