.footer {
    background-color: #0c474b;
    color: $color-footer-text;
    font-family: $font-main;
    height: 80vh;
    display: flex;
    flex-direction: column;
    @media all and (min-width:900px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        height: 40vh;
    }
    @media all and (min-width:1728px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 150px;
        height: 35vh;
        
    }
 
}
.footer li:first-letter {
    text-transform: capitalize;
}
.list1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    @media all and (min-width:900px) {
        width: 208px;
        padding-left: 15px;
        
    }
    @media all and (min-width:1728px) {
        padding-top: 0;
        padding-left: 250px;
    }

}

.list2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    @media all and (min-width:900px) {
        padding-top: 50px;
        width: 208px;

    }
    @media all and (min-width:1728px) {
        transform: translateY(-23px);
    }

    
}

.list3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    @media all and (min-width:900px) {
        padding-top: 50px;
        align-items: left;
        width: 208px;
        padding-right: 15px;
    }
    @media all and (min-width:1728px) {
        padding-top: 0;
        transform: translateY(-10px);
    }

}
.list-ft {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 25%;
    color: $color-footer-text;
    gap: 15px;
    @media all and (min-width:900px) {
        display: flex;
        width: 300px;
        align-items: left;
                        
    }
}
.h3-ft {
    font-size: $font-size-main;
    font-weight: 800;

}
.a-footer {
    text-decoration: none;
    color: $color-footer-text;
}
.icons-ft {
    display: flex;
    gap: 11px;
    margin-top: 15px;
}
.up-icon {
    display: flex;
    text-decoration: none;
    justify-content: right;
    color: $color-footer-text;
    padding-bottom: 20px;
    padding-right: 5%;
    
    @media all and (min-width:900px) {
        align-self: end;
        padding-bottom: 150px;
                      
    }
    @media all and (min-width:1728px) {
        align-self: end;
        padding-bottom: 160px;
                      
    }
}