.footer {
    background-color: #0c474b;
    color: $color-footer-text;
    font-family: $font-main;
    height: 70vh;
    @media all and (min-width:900px) {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        height: 40vh;
    }
 
}
.footer li:first-letter {
    text-transform: capitalize;
}
.list1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    @media all and (min-width:900px) {
        width: 208px;
        padding-left: 15px;
        
    }
}

.list2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    @media all and (min-width:900px) {
        padding-top: 50px;
        width: 208px;

    }
    
}

.list3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    @media all and (min-width:900px) {
        padding-top: 50px;
        align-items: left;
        width: 208px;
        padding-right: 15px;
    }

}
.list-ft {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 25%;
    color: $color-footer-text;
    gap: 15px;
    @media all and (min-width:900px) {
        display: flex;
        align-items: left;
        
    }
}
.h3-ft {
    font-size: $font-size-main;
    font-weight: 800;

}
.a-footer {
    text-decoration: none;
    color: $color-footer-text;
}
.icons-ft {
    display: flex;
    gap: 11px;
    margin-top: 15px;
}
.up-icon {
    text-decoration: none;
    position: absolute;
    right: 5%;
    color: $color-footer-text;
    @media all and (min-width:900px) {
        align-self: end;
        padding-bottom: 50px;
                      
    }
}