.footer {
    background-color: #0c474b;
    color: $color-footer-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.list1 {
    
    color: $color-footer-text;
    text-transform: capitalize;
}
.list2 {
   
    color: $color-footer-text;
    text-transform: capitalize;
}
.list3 {
    
    color: $color-footer-text;
    text-transform: capitalize;
}
