.header {
    width: 100vw;
    height: 100vh;
       
}
.header-container {
    height: 100vh;
    z-index: -999;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
     
}
.header-bar {
   
   display: flex;
   align-items: center;
   position: absolute;
   gap: 25%;
   top: 0;
   margin-top: 19px;
}
.header-bar i {
    margin-left: 40px;
}
.enjoy-buy {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   transform: translateY(-450%);
   font-family: $font-main;
   gap: 62px;
}
h1 {
    color: $color-text;
    font-size: 24px;
    font-weight: 600;
}
.button-buy {
    width: 176px;
    height: 48px;
    appearance: none;
    border: 0;
    background-color: $color-text;
    color: white;
    font-size: 16px;

}