.header {
    width: 100vw;
    height: 100vh;
    
}
.header-container {
    height: 100vh;
    z-index: -999;
    background-image: url(../images/header.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;  
     
}
.header-bar {
   
   display: flex;
   align-items: center;
   position: absolute;
   top: 0;
     
}
.logo {
    position: relative;
    left: 50%;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}
.header-bar i {
    position: fixed;
    margin-left: 40px;
    color: $color-text;
}
.enjoy-buy {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   transform: translateY(-300%);
   font-family: $font-main;
   gap: 62px;
   
}
h1 {
    color: $color-text;
    font-size: 24px;
    font-weight: 600;
}
.button-buy {
    width: 176px;
    height: 48px;
    appearance: none;
    border: 0;
    background-color: $color-text;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: background-color .7s;
    

}
.button-buy:hover {
    background-color: #80DED9;
    color: black;
}