.first-section {
    background-color: $color-back1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    font-family: $font-main;
    padding-left: 47px;
    padding-right: 47px;
    @media all and (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items:baseline;
        text-align: center;
    }
    @media all and (min-width: 1728px) {
        padding-bottom: 20px;
    }
}
.open {
    text-transform: uppercase;
}
.h2-main {
    font-size: 24px;
    color: $color-text;
    font-family: $font-main;
    text-align: center;
    font-weight: 600;
    @media all and (min-width: 900px) {
        width: 34ch;
        grid-column: 1 / 4;
        align-self: center;
        justify-self: center;
        padding-left: 100px;
        padding-right: 100px;
    }
    @media all and (min-width: 1728px) {
        font-size: 36px;
    }
}
.article-fs {
    grid-gap: 30px;
    @media all and (min-width: 900px) {
        grid-row: 2;
        align-items: center;
       
    } 
    @media all and (min-width: 1728px) {
        width: 350px;
        align-self: center;
        justify-self: center;
        text-align: center;
    }
}
.img-fs {
    width: 90px;
    height: 90px;
    padding-bottom: 50px;
    padding-left: 47px;
    padding-right: 47px;
    
}
.title-fs {
    font-size: $font-size-main;
    color: $color-text;
    font-weight: 600;
    padding-bottom: 15px;
    padding-left: 47px;
    padding-right: 47px;
    @media all and (min-width: 1728px) {
        font-size: 24px;
    }
}
.text-fs {
    padding-bottom: 40px;
    padding-left: 47px;
    padding-right: 47px;
    font-size: 16px;
    color: $color-text;
}
.second-section {
    background-color: $color-back2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $font-main;
}
   
.img-ss {
    margin-top: 46px;

}
.h2-ss {
    font-size: 24px;
    color: $color-ss;
    margin: 10px;
    @media all and (min-width: 1728px) {
        font-size: 36px;
    }
}
.text-ss {
    font-size: 14px;
    color: $color-ss;
}
.link-ss {
    color: $color-ss;
}
.buy-now {
    color: $color-ss;
    margin-top: 25px;
    margin-bottom: 55px;
}
.desktop-div {
    @media all and (min-width: 1728px) {
        display: flex;
    }
}
.third-section {
    background-color: $color-back1;
    color: $color-text;
    font-family: $font-main;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-left: 27px;
    padding-right: 27px;
    @media all and (min-width: 1728px) {
        width: 50%;
        height: 500px;
        align-content: center;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;   
    }
    
}
.h2-ts {
    margin-top: 87px;
    font-size: 24px;
    font-weight: 600;
    @media all and (min-width: 1728px) {
        font-size: 36px;
    }
}
.p-ts {
    font-size: 14px;
}
.button-ts {
    width: 176px;
    height: 48px;
    appearance: none;
    border: 0;
    background-color: $color-text;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 92px;
    font-weight: 600;
    transition: background-color .7s;
}
.button-ts:hover {
    background-color: #80DED9;
    color: black;
}


.fourth-section {
    height: 304px;
    width: 100vw;
    background-image: url(../images/creando-espacios.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;  
    @media all and (min-width: 900px) {
        height: 450px;
    }
    @media all and (min-width: 1728px) {
        width: 50%;
        height: 500px;
        
    }
    
}


